header.bg-indigo-400.p-4.shadow
    .container.mx-auto.flex.justify-between.items-center
        h1.text-4xl.text-white.font-bold.text-center Bienes
            span.font-thin Raices

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 fond-bold text-white hidden")
            a(href="") Mis Propiedades
            a(href="") Mi Perfil
            a(class="bg-pink-50 hover:bg-pink-100 py-2 px-4 rounded-md text-pink-400 font-bold" href="") Cerrar sesión
            
            